.headerContainer {
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & h1 {
    margin: 10px;
  }

  & a {
    margin: 0 5px;
  }
}
